@use "./utilities/index" as *;

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $violet;
	background-image: url("../../dist/img/bg-mobile.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
	font-family: "Open Sans", sans-serif;
	color: white;
}

.main {
	padding: 2em;
	max-width: 23.438em;

	&__logo {
		width: 50%;
	}

	&__bg {
		margin: 3em 0;
		width: 100%;
	}

	&__box {
		text-align: center;
		&-title {
			margin-bottom: 0.7em;
			font-size: 2.5rem;
		}
		&-text {
			margin-bottom: 2em;
			font-family: "Poppins", sans-serif;
			font-size: 1.5rem;
		}
		&-btn {
			margin-bottom: 6em;
			padding: 0.8em 5.5em;
			width: fit-content;
			border-radius: 1.5em;
			-webkit-box-shadow: 0px 5px 10px 0px rgba(60, 60, 60, 1);
			-moz-box-shadow: 0px 5px 10px 0px rgba(60, 60, 60, 1);
			box-shadow: 0px 5px 10px 0px rgba(60, 60, 60, 1);
			color: grey;
		}
	}
	&__icons {
		width: 100%;
		display: flex;
		justify-content: center;
		column-gap: 1.1em;

		&-box {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0.5em;
			border-radius: 50%;
			border: 1px solid white;
		}
	}
}

@media (min-width: 992px) {
	body {
		background-image: url("../img/bg-desktop.svg");
		background-size: cover;
	}

	.main {
		padding: 3em;
		padding-top: 0;
		padding-bottom: 0;
		max-width: 90em;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;

		&__logo {
			grid-area: 1/1/2/3;
			width: 15%;
		}

		&__bg {
			margin-top: 3em;
			margin-bottom: 0;
			grid-area: 2/1/3/2;
		}

		&__box {
			display: flex;
			justify-content: center;
			flex-direction: column;
			grid-area: 2/2/3/3;
			text-align: left;
			padding: 2.5em;
			&-title {
				margin-bottom: 0.3em;
				font-size: clamp(3rem, calc(3rem + ((46 - 30) * ((100vw - 996px) / (1440 - 996)))), 4.6rem);

				font-weight: 600;
			}
			&-text {
				margin-bottom: 1em;
				font-size: clamp(1.2rem, calc(1.2rem + ((19 - 12) * ((100vw - 996px) / (1440 - 996)))), 1.9rem);
			}
			&-btn {
				padding: 0.8em 2.6em;
				font-size: clamp(1.2rem, calc(1.2rem + ((19 - 12) * ((100vw - 996px) / (1440 - 996)))), 1.9rem);
				transition: background-color 0.2s, color 0.2s;

				&:hover {
					background-color: $soft-magenta;
					color: white;
				}
			}
		}

		&__icons {
			margin-left: -5%;
			height: fit-content;
			grid-area: 3/1/4/-1;
			justify-content: flex-end;

			&-box {
				cursor: pointer;
			}
		}
	}
}
