@use "../colors" as colors;

@media (min-width: 992px) {
	body {
		background-image: url("../../img/bg-desktop.svg");
		background-size: cover;
	}

	.main {
		max-width: 90em;
		height: 100vh;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(3, 1fr);

		&__logo {
			grid-area: 1/1/2/-1;
			width: 15%;
		}

		&__bg {
			grid-area: 2/1/3/2;
		}

		&__box {
			display: flex;
			justify-content: center;
			flex-direction: column;
			grid-area: 2/2/3/3;
			text-align: left;
			padding: 2.5em;
			&-title {
				margin-bottom: 0.3em;
				font-size: clamp(3rem, 3.472vw, 5rem);
			}
			&-text {
				margin-bottom: 1em;
				font-size: clamp(1.22rem, 1.234vw, 1.95rem);
				span {
					&::before {
						content: "\A";
						white-space: pre;
					}
				}
			}
			&-btn {
				padding: 0.8em 3.5em;
				font-size: clamp(1.22rem, 1.234vw, 1.95rem);
				transition: background-color 0.2s, color 0.2s;

				&:hover {
					background-color: colors.$soft-magenta;
					color: white;
				}
			}
		}

		&__icons {
			height: fit-content;
			grid-area: 3/1/4/-1;
			justify-content: flex-end;

			&-box {
				&-icon {
					cursor: pointer;
				}
			}
		}
	}
}
